name: macOS

on:
  push:
    branches: ["**"]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: 16.0
    - name: Set up Swift
      uses: swift-actions/setup-swift@v2
      with: 
        swift-version: '6.0.0'
    - uses: actions/checkout@v3
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
