# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Ubuntu

on:
  push:
    branches: ["**"]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - uses: compnerd/gha-setup-swift@main
        with:
          branch: swift-6.0-release
          tag: 6.0-RELEASE
      - uses: actions/checkout@v3
      - name: Build for release
        run: swift build -v -c release
      - name: Test
        run: swift test -v
