# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Ubuntu

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Swift
        uses: swift-actions/setup-swift@v2
        with: 
          swift-version: '6.1.0'
      - uses: actions/checkout@v4
      - name: Build for release
        run: swift build -v -c release
      - name: Test
        run: swift test -v
